* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#filme {
    width: 100%;              /*100% da largura da página*/
    display: flex;            /*Alinhamento das div*/
    justify-content: center;  /*Centralizaçãodas das divs child*/
    flex-wrap: wrap;          /*Envolve todo conteúdo no campo de visão do usuário, retirando a barra de rolagem da horizontal, e quebrando oconteúdo */
    background-color: rgba(241, 121, 235, 0.733);
}

#filme div {
    width: 25%;
    margin: 20px;
    box-shadow: 0px 1.5px 5px rgba(4, 66, 148, 0.404);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    margin-bottom: 150px;

}

#filme div img {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 3px 1.0px rgba(77, 1, 163, 0.226);
    margin-top: -60px;
}

#filme div:hover {
    transition: ease 1s; 
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 0px 0px 100vw rgba(154, 48, 216, 0.829);
    border-radius: 5px;
}

.btn {
    background: rgb(206, 162, 247);
    width: 200px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(157, 55, 252);
}